/*

Website: FLETNIX
Authors: Carsten Sinke & Lana Cornelissen

*/

/******** ALGEMEEN ********/

body {
	background-color: black;
	width: 100%;
	margin:0;
    font-family:open sans;
    font-size:14px;
	color:#fff;
}

h1{
    font-weight:bold;
	color:#fff;
}

section h2{
	margin-top:0px;
}

h2{
    font-weight:bold;
    font-size:24px;
}

.top a{
	text-decoration:none;
}

main a,
section#over_ons a{
	color:#fff;
}

a:hover{
	color:#A270EF;
}

.container{
	width:1000px;
	margin:0 auto;
}

.button{
	background-color:#f2921d;
    border-radius:5px;
	text-indent:0px;
	display:inline-block;
	color:#000;
	font-family:Arial;
	font-size:18px;
	font-weight:300;
	font-style:normal;
    padding:7px 12px;
	text-decoration:none;
	text-align:center;
	border: none;
    margin-right:10px;
}

.button:hover,
form .button:hover {
	background-color:#f27d16;
	color:#000;
}

.button:active {
	position:relative;
	top:1px;
}

main{
	padding-bottom:100px;
}

/******** HEADER ********/

header#banner {
    position:relative;
}

header{
    color: white;
}

header #content{
	padding:80px 0;
    width:100%;
}

.top{
	position:relative;
}

header#banner #content{
    position:absolute;
    top:80px;
    z-index:2;
	padding:0;
}

img.logo {
	width:220px;
	display:inline-block;
	vertical-align:bottom;
}

nav#main{
	width:calc(100% - 225px);
	display:inline-block;
	vertical-align:bottom;
	text-align:right;
}

nav#main a{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	margin-left:25px;
}

nav#main a:hover,
nav#main a.current{
	color:#AC77FD;
}

nav.top{
	position:absolute;
	right:0;
	top:-50px;
}

nav.top a{
	text-decoration:none;
	color:#fff;
	background:#553298;
	padding:5px 12px;
	border-radius:5px;
	margin-left:10px;
	font-size:13px;
	text-transform:lowercase;
}

nav.top a:hover{
	background:#8D48FF;
}

nav.top ul.dropdown{
    position:absolute;
    padding:0;
    list-style:none;
    text-align:right;
    right:0;
    border-radius:5px;
    background:#553298;
    margin-top:4px;
    display:none;
    border-radius:5px 0 5px 5px;
}

nav.top:hover a.parent{
    border-radius:5px 5px 0 0;
}

nav.top ul.dropdown li a{
    margin:0;
    display:block;
    background:#553298;
    padding:10px 15px;
}

nav.top ul.dropdown li a:hover{
    background:#8D48FF;
}

nav.top:hover ul.dropdown{
    display:block;
}

img.background{
	width:100%;
}

div#header_button{
    margin-top:13%;
}


/******** PAGINA: DASHBOARD ********/

section#volgend,
section#top_films,
section#aangeraden_films,
section#aangeraden_series{
    padding:30px;
}

section#volgend,
section#aangeraden_films{
    background:#0F081B;
}

/******** PAGINA: ACCOUNT ********/

#profiel{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#profiel .column{
    margin-right:50px;
}

/******** PAGINA: VIDEOPLAYER ********/

#film {
	background-color: #2C1951;
	height: 230px;
	padding:30px 30px 0 30px;
}

#film_image {
	display: inline;
}

#film_image img{
	height: 200px; 
	display: inline; 
	box-shadow:0px 0px 14px #000;
}

#film_info{
	display: inline-block; 
	vertical-align: top; 
	margin-left: 40px;
	width:260px;
}

#film_info h1{
	display: inline; 
	vertical-align: top;
}

#film_info sup{
	margin-left: 10px; 
	display: inline; 
	vertical-align: top; 
	font-size: 12px;
}

#genre_cast_directors{
	display: inline-block;
	vertical-align: top; 
	margin-left: 40px;
}

#genre_cast_directors ul{
	padding: 0px;
	margin-top:0;
}

#genre_cast_directors li{
	display: inline-block; 
	margin-right: 10px; 
	background-color: #F2921D; 
	padding:7px 10px; 
	border-radius: 5px;
	font-size:13px;
	color:#000;
	box-shadow:0px 0px 8px #111;
}


/******** PAGINA: OVERZICHT ********/

.overzicht{
	display:flex;
	flex-wrap:wrap;
}

.product{
	width:15%;
	margin-bottom:12px;
	position:relative;
	margin:0 2% 15px 0;
}

.product:nth-child(6n){
	margin-right:0;
}

a.product{
	text-decoration:none;
	height:100%;
    background:#000;
}

.product h3{
	position:absolute;
	top:0;
	width:80%;
	margin:0px;
	text-align:center;
	padding:65% 10%;
	line-height:20px;
	display:none;
	word-break:normal;
}

.product:hover h3{
	display:block;
	color:#fff;
}

.product:hover img{
    opacity:0.2;
}

.product img{
	width:100%;
	height:auto;
    margin-bottom:-5px;
}

iframe{
	border:0px;
}

/******** HOME: INLOGGEN ********/

#login {
	background-color: #000000;
	color: white;
	padding:50px 0 100px 0;
}


form fieldset{
    padding:0;
    margin:0;
    display:inline-block;
    margin-right:15px;
    width:23%;
}

form p{
    margin-bottom:10px;
}

form input{
    display: inline-block;
    width: 90%;
    font-size: 12px;
    border-radius: 6px;
    padding: 10px 5%;
    border: none;
    border-bottom: solid 2px #ffffff;
    transition: border 0.3s;
}
form input:focus {
    outline: none;
    border-bottom: solid 2px #7f8c8d;
}

form .button{
    font-size:14px;
    padding:10px;
}

input[type="password"]{
	display: inline-block;
	width: 90%;
	font-size: 12px;
	padding: 10px 5%;
	border: none;
	border-radius: 6px;
	border-bottom: solid 2px #ffffff;
	transition: border 0.3s;
}

input[type="password"]:focus {
	outline: none;
	border-bottom: solid 2px #7f8c8d;
}

fieldset {
	border: none;
}

/******** HOME: REGISTREREN ********/

#registration{
	background-color: #2C1951;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;
}

.pakketten {
	width: 25%;
	display: inline-block;
    padding:10px 3% 10px;
    margin-right:3%;
    background-color: #6A45A3;
    position:relative;
}

#pakket_2 {
	background-color: #A270EF;
}

#pakket_3 {
    margin-right:0;
}

.pakketten a{
    background:#fff;
    text-decoration:none;
    color:#000;
    padding:7px 17px;
    border-radius:5px;
    position:absolute;
    margin-top:-15px;
    position:absolute;
    right:20px;
    display:none;
}

.pakketten li.price{
	list-style:none;
	font-weight:bold;
	font-size:18px;
	margin-top:5px;
}

.pakketten:hover a{
    display:block;
}

form.registreren{
    width:50%;
}

form.registreren fieldset{
    width:46%;
}

section#over_ons .container{
    padding-bottom:0px;
}

/******** HOME: OVER FLETNIX ********/

#over_ons{
	background-color: #000000;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;
}

.one_half{
    display:inline-block;
    vertical-align:top;
    width:47%;
    margin-right:5%;
}

.last{
    margin-right:0px;
}

/******** FOOTER ********/

footer{
	background-color: #0F081B;
	width: 100%;
	text-decoration: none;
	color: #AC77FD;
	padding:30px 0;
	font-weight:300;
}

footer h3{
	font-size:16px;
}

footer ul{
	height: auto;
	width: 25%;
	padding: 0;
	display: inline-block;
	list-style: none;
	vertical-align:top;
}

footer li{
	padding-bottom: 5px;
	line-height:20px;
}

footer a{
	color: #AC77FD;
	text-decoration: none;
}

footer a:hover{
	color: #C29AFF;
}











/******** RESPONSIVE ********/

@media only screen and (max-width: 501px ){

.top{
    text-align:center;
}

img.logo{
    display:block;
    margin:0 auto;
}

nav#main {
    width:100%;
    display: block;
    text-align: center;
    margin-top:20px;
}

nav#main a{
    margin:0 7px;
}

.container{
    width:90%;
}

header#banner{
    height:450px;
    overflow:hidden;
}

header#banner img.background{
    height:100%;
    width:auto;
    margin-left:-60%;
}

form fieldset{
    display:block;
    margin:0;
    width:100%;
}

form a.button{
    margin-top:15px;
}

#registration #wrapper{
    text-align:center;
}

.pakketten {
    width: 80%;
    vertical-align:top;
    text-align:left;
    padding:10px 10%;
    margin:20px 0 20px 0;
    min-height:auto;
}

.pakketten a{
    display:block;
    bottom:-15px;
}

.one_half{
    display:block;
    width:100%;
    margin:0;
}

footer ul {
    width: 45%;
    margin-right:5%;
}

.product {
    width: 30%;
    margin: 0 5% 15px 0!important;
}

.product:nth-child(3n) {
    margin-right:0!important;
}

#video #film{
    height:auto;
    padding-bottom:25px;
}

#film_image{
    width:100%;
    display:inline-block;
    margin-right:0;
    text-align:center;
    margin-bottom:20px;
}

#film_image img{
    width:50%;
    height:auto;
}

#film_info{
    display:inline-block;
    width:100%;
    margin:0;
}

#genre_cast_directors ul li{
    margin-bottom:10px;
}

#genre_cast_directors{
    display:inline-block;
    width:100%;
    margin:0;
    margin-top:15px;
}

form.registreren{
    width:100%;
}

form.registreren fieldset{
    width:100%;
    margin:0;
}

#profiel{
    display:block;
}

#profiel .column{
    margin-right:0px;
}

}













@media only screen and (min-width: 501px) and (max-width: 801px ){

.container{
    width:90%;
}

.top{
    text-align:center;
}

img.logo{
    display:block;
    margin:0 auto;
}

nav#main {
    width:100%;
    display: block;
    text-align: center;
    margin-top:20px;
}

nav#main a{
    margin:0 10px;
}

header#banner{
    height:400px;
    overflow:hidden;
}

header#banner img.background{
    height:100%;
    width:auto;
}

form fieldset{
    display:block;
    margin:0;
    width:50%;
}

form a.button{
    margin-top:15px;
}

#registration #wrapper{
    text-align:center;
}

.pakketten {
    width: 34%;
    vertical-align:top;
    text-align:left;
    padding:10px 5%;
    margin:20px 5% 20px 0;
    min-height:190px;
}

.pakketten a{
    display:block;
    bottom:-15px;
}

footer ul {
    width: 45%;
    margin-right:5%;
}

.product {
    width: 22.7%;
    margin: 0 3% 15px 0!important;
}

.product:nth-child(4n) {
    margin-right:0!important;
}

#video #film{
    height:auto;
    padding-bottom:25px;
}

#film_image{
    width:25%;
    display:inline-block;
    margin-right:5%;
}

#film_image img{
    width:100%;
    height:auto;
}

#film_info{
    display:inline-block;
    width:69%;
    margin:0;
}

#genre_cast_directors{
    display:inline-block;
    width:100%;
    margin:0;
    margin-top:15px;
}

form.registreren{
    width:100%;
}

form.registreren fieldset{
    width:45%;
    display:inline-block;
    vertical-align:top;
    margin-right:4%;
}

}











@media only screen and (min-width: 801px) and (max-width: 1150px ){

.container{
    width:90%;
}

.pakketten {
    width: 24.9%;
    vertical-align:top;
}

footer ul {
    width: 23%;
    margin-right:2%;
}

#video #film{
    height:auto;
    padding-bottom:25px;
}

#film_image{
    width:15%;
    display:inline-block;
    margin-right:5%;
}

#film_image img{
    width:100%;
    height:auto;
}

#film_info{
    display:inline-block;
    width:25%;
    margin:0;
    margin-right:5%;
}

#genre_cast_directors{
    display:inline-block;
    width:48%;
    margin:0;
}

#video iframe{
    width:100%;
    height:auto;
}

form.registreren{
    width:70%;
}

form.registreren fieldset{
    width:46%;
}

}
